<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volei Brasil - {{ title }}</title>
    <link rel="stylesheet" href="./../static/css/site.css">
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="./../static/img/logo.png" alt="Logo Vôlei Brasil">
                    </a>
                </div>
                <nav class="header__navigation">
                    <a href="{{ url_for('partidas') }}">Partidas</a>
                    <a href="{{ url_for('detalhes') }}">Detalhes</a>
                    <a href="{{ url_for('entrar') }}">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        {% block conteudo %} {% endblock %}
    </main>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__inner">
                <p>Copyright</p>
            </div>
        </div>
    </footer>
</body>

</html>