{% extends 'base.html' %} {% block conteudo %}
<section class="home">
    <div class="home__banner">
        <div class="wrapper">
            <div class="home__banner-inner">
                <img src="./../static/img/logo-banner-verde.png" alt="Logo Vôlei Brasil">
                <a href="#rank" class="scrollDown">
                    <img src="./../static/img/icon-voleyball.png" alt="Scroll Down">
                </a>
            </div>
        </div>
    </div>
    <div class="rank"id="rank">
        <div class="wrapper">
            <div class="rank__inner">
                <h2>Ranking</h2>
                <div class="rank__inner-content">
                    <table class="rank__inner-table table__list" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Equipe</th>
                                <th>Pontos</th>
                                <th>J</th>
                                <th>V</th>
                                <th>D</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="icon-award"><i class="fas fa-award"></i></td>
                                <td>1º </td>
                                <td>Osasco</td>
                                <td>20</td>
                                <td>4</td>
                                <td>2</td>
                                <td>2</td>
                                <td class="menuActions__container">
                                    <button class="toggle-menuActions" onclick="toggleMenuActions(0, this)">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="menuActions" menuaction="0">
                                        <span class="icon-arrowUp"><i class="fas fa-caret-up"></i></span>
                                        <a href="{{ url_for('partidas') }}" class="menuActions__button">Partidas</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="icon-award"><i class="fas fa-award"></i></td>
                                <td>2º </td>
                                <td>Sesc RJ</td>
                                <td>19</td>
                                <td>4</td>
                                <td>3</td>
                                <td>1</td>
                                <td class="menuActions__container">
                                    <button class="toggle-menuActions" onclick="toggleMenuActions(1, this)">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="menuActions" menuaction="1">
                                        <span class="icon-arrowUp"><i class="fas fa-caret-up"></i></span>
                                        <a href="{{ url_for('partidas') }}" class="menuActions__button">Partidas</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="icon-award"><i class="fas fa-award"></i></td>
                                <td>3º </td>
                                <td>Minas TC</td>
                                <td>16</td>
                                <td>4</td>
                                <td>2</td>
                                <td>1</td>
                                <td class="menuActions__container">
                                    <button class="toggle-menuActions" onclick="toggleMenuActions(2, this)">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="menuActions" menuaction="2">
                                        <span class="icon-arrowUp"><i class="fas fa-caret-up"></i></span>
                                        <a href="{{ url_for('partidas') }}" class="menuActions__button">Partidas</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="icon-award"></td>
                                <td>4º </td>
                                <td>SESI SP</td>
                                <td>16</td>
                                <td>4</td>
                                <td>2</td>
                                <td>1</td>
                                <td class="menuActions__container">
                                    <button class="toggle-menuActions" onclick="toggleMenuActions(3, this)">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="menuActions" menuaction="3">
                                        <span class="icon-arrowUp"><i class="fas fa-caret-up"></i></span>
                                        <a href="{{ url_for('partidas') }}" class="menuActions__button">Partidas</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<button class="fecharMenuActions" onclick="fecharMenuActions()"></button> 
{% endblock %}