<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volei Brasil - {{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/site.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="../static//js/bootstrap.js"></script>


    <script src="./../static/js/functions.js"></script>
    <script src="./../static/js/app.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="./../static/img/logo.png" alt="Logo Vôlei Brasil">
                    </a>
                </div>
                <nav class="header__navigation">
                    <a href="{{ url_for('entrar') }}">Login</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">

        <section class="detalhes">
            <div class="wrapper">
                <div class="detalhes__inner">
                    <h3 class="col-lg-12 col-md-12 col-sm-12 ">Detalhes</h3>
                    <p class="col-lg-12 col-md-12 col-sm-12">Aqui será exibido os detalhes da partida <strong> {{ timeCasa['Nome'] }} -  {{ timeCasa['Sigla'] }}  x {{ timeAdversario['Nome'] }} -  {{ timeAdversario['Sigla'] }} </strong>
                    </p>
                    <div class="detalhes__inner-content">
                        <div class="linha">
                            <div class="input-container col-lg-10 col-md-10 col-sm-10">
                                <label for="casaNome">Equipe da Casa </label>
                                <input type="text" name="casaNome" id="casaNome" value="{{ timeCasa['Nome'] }}" readonly>
                            </div>
                            <p> <strong> - </strong></p>
                            <div class="input-container col-lg-2 col-md-2 col-sm-2">
                                <label for="casaSigla"></label>
                                <input type="text" name="casaSigla" id="casaSigla" value="{{ timeCasa['Sigla'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha">
                            <div class="input-container col-lg-10 col-md-10 col-sm-10">
                                <label for="AdversarioNome">Equipe Adversária </label>
                                <input type="text" name="AdversarioNome" id="AdversarioNome" value="{{ timeAdversario['Nome'] }}" readonly>
                            </div>
                            <p> <strong> - </strong></p>
                            <div class="input-container col-lg-2 col-md-2 col-sm-2">
                                <label for="AdversarioSigla"></label>
                                <input type="text" name="AdversarioSigla" id="AdversarioSigla" value="{{ timeAdversario['Sigla'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha">
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="Local">Local</label>
                                <input type="text" name="Local" id="Local" value="{{ detalhes['LocalJogo'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="Horario">Duração</label>
                                <input type="time" name="Duracao" id="Horario" value="{{ detalhes['Horario'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="Data">Data</label>
                                <input type="date" name="Data" id="Data" value="{{ detalhes['DataJogo'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha">
                            <div class="input-container col-lg-6 col-md-6 col-sm-12">
                                <label for="SetsT">1º Arbitro</label>
                                <input type="text" name="SetsT" id="SetsT" value="{{ detalhes['ArbitroPrincipal'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-6 col-md-6 col-sm-12">
                                <label for="Vencidos">2º Arbitro</label>
                                <input type="text" name="Vencidos" id="Vencidos" value="{{ detalhes['FiscalRede'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha">
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="SetsT">Total de Sets</label>
                                <input type="text" name="SetsT" id="SetsT" value="{{ detalhes['SetsTotal'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="Vencidos">Vencidos</label>
                                <input type="text" name="Vencidos" id="Vencidos" value="{{ detalhes['SetsVencidos'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-4 col-md-4 col-sm-12">
                                <label for="Perdidos">Perdidos</label>
                                <input type="text" name="Perdidos" id="Perdidos" value="{{ detalhes['SetsPerdidos'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha">
                            <div class="input-container col-lg-6 col-md-6 col-sm-6">
                                <label for="PontosCasa">Total de Pontos <smaller>(da casa)</smaller></label>
                                <input type="text" name="PontosCasa" id="PontosCasa" value="{{ detalhes['Pontos_Casa'] }}" readonly>
                            </div>
                            <div class="input-container col-lg-6 col-md-6 col-sm-6">
                                <label for="PontosVisitantes">Total de Pontos <smaller>(do convidado)</smaller></label>
                                <input type="text" name="PontosVisitantes" id="PontosVisitantes" value="{{ detalhes['Pontos_Visitante'] }}" readonly>
                            </div>
                        </div>
                        <div class="linha linha--table">

                            <div class="input-container col-lg-12 col-md-12 col-sm-12">
                                <span class="title">Equipe da casa</span>
                                <table class="table__list" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Jogador</th>
                                            <th>Apelido</th>
                                            <th>Posição</th>
                                            <th>Nº Camisa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for casa in equipeCasa %}
                                        <tr>
                                            <td>{{ casa['Id'] }}</td>
                                            <td>{{ casa['Nome'] }}</td>
                                            <td>{{ casa['Apelido'] }}</td>
                                            <td>{{ casa['Posicao'] }}</td>
                                            <td>{{ casa['Camisa'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="linha linha--table">

                            <div class="input-container col-lg-12 col-md-12 col-sm-12">
                                <span class="title">Equipe convidada </span>
                                <table class="table__list" cellspacing="0">

                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Jogador</th>
                                            <th>Apelido</th>
                                            <th>Posição</th>
                                            <th>Nº Camisa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for casaConvidada in equipeAdversaria %}
                                        <tr>
                                            <td>{{ casaConvidada['Id'] }}</td>
                                            <td>{{ casaConvidada['Nome'] }}</td>
                                            <td>{{ casaConvidada['Apelido'] }}</td>
                                            <td>{{ casaConvidada['Posicao'] }}</td>
                                            <td>{{ casaConvidada['Camisa'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer__inner">
                <p>Copyright</p>
            </div>
        </div>
    </footer>
</body>

</html>