{% extends 'partidas.html' %} {% block partida %}
<script>
    abrirModal()
</script>
<div class="addTime">
    <h3 class="addTime-title">Adicionar Partida</h3>
    <form action="" method="POST">
        <div class="linha">

            <input type="hidden" name="TimeCasa_Id" value="{{ casa['Id'] }}">
            <div class="input-container col-lg-8">
                <label for="nomeCasa">Time da Casa :</label>
                <textarea type="text" class="inputForm" readonly>{{ casa['Nome'] }}</textarea>
            </div>
            <p> <strong> - </strong></p>
            <div class="input-container col-lg-4">
                <label for="Pontos_Casa">Pontos Casa:</label>
                <input type="number" id="Pontos_Casa" name="Pontos_Casa" class="inputForm" title="Localidade do time" required>
            </div>

        </div>

        <div class="linha">

            <div class="input-container col-lg-8">
                <label for="nomeVisitante">Time visitante:</label>
                <select class="inputForm" name="TimeVisitantes_Id" required>
                    {% for t in times %}
                    <option value=" {{ t['Id'] }}">
                        {{ t['Nome'] }}
                    </option>
                    {% endfor %}
                </select>

            </div>
            <div class="input-container col-lg-4">
                <label for="Pontos_Visitante">Pontos Visitantes:</label>
                <input type="number" id="Pontos_Visitante" name="Pontos_Visitante" class="inputForm" title="Pontuação do time" required>
            </div>

        </div>
        <div class="linha">

            <div class="input-container col-lg-4">
                <label for="DataJogo">Data:</label>
                <input type="date" id="DataJogo" name="DataJogo" class="inputForm" title="Quantidade de Jogos" required>
            </div>
            <div class="input-container col-lg-5">
                <label for="LocalJogo">Local da Partida:</label>
                <input type="text" id="LocalJogo" name="LocalJogo" class="inputForm" title="Derrotas" required>
            </div>
            <div class="input-container col-lg-3">
                <label for="Duracao">Duração:</label>
                <input type="time" id="Duracao" name="Duracao" class="inputForm" title="Duração" required>
            </div>

        </div>

        <div class="linha">

            <div class="input-container col-lg-4">
                <label for="SetsTotal">Sets Totais:</label>
                <input type="number" id="SetsTotal" name="SetsTotal" class="inputForm" title="Sets" required>
            </div>

            <div class="input-container col-lg-4">
                <label for="SetsVencidos">Sets Vencidos:</label>
                <input type="number" id="SetsVencidos" name="SetsVencidos" class="inputForm" title="Vencidos" required>
            </div>

            <div class="input-container col-lg-4">
                <label for="SetsPerdidos">Sets Perdidos:</label>
                <input type="number" id="SetsPerdidos" name="SetsPerdidos" class="inputForm" title="Perdidos" required>
            </div>

        </div>

        <div class="linha">

            <div class="input-container col-lg-6">
                <label for="ArbitroPrincipal">Arbitro:</label>
                <input type="text" id="ArbitroPrincipal" name="ArbitroPrincipal" class="inputForm" title="Arbitro" required>
            </div>

            <div class="input-container col-lg-6">
                <label for="FiscalRede">Fiscal:</label>
                <input type="text" id="FiscalRede" name="FiscalRede" class="inputForm" title="Fiscal de Rede" required>
            </div>

        </div>
        <div class="linha">
            <div class="input-container col-lg-12">
                <label for="Vencedor">Vencedor:</label>
                <input type="text" id="Vencedor" name="Vencedor" class="inputForm" title="Derrotas" required>
            </div>
        </div>


        <div class="linha">

            <div class="input-container col-lg-12">
                <button type="submit" class="btn btn-submit" title="Salvar dados do time">Salvar</button>
            </div>

        </div>
    </form>
</div>
{% endblock %}